@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat',sans-serif;
  }

.home-container{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,0,0,1) 56%, rgba(255,0,0,1) 100%);
}

.home-cover {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --g:#0000 ,#000 .5deg 90deg,#0000 91deg;
  --m:
    conic-gradient(from 45deg ,var(--g)) 20px 0  no-repeat,
    conic-gradient(from 135deg,var(--g)) 0 20px  no-repeat,
    conic-gradient(from 225deg,var(--g)) -20px 0 no-repeat,
    conic-gradient(from 315deg,var(--g)) 0 -20px no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  transition: .3s linear;
  filter: grayscale(.5);
  cursor: pointer;
}
.home-cover:hover {
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
  filter: grayscale(0);
}
.home-message{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.custom-shape-divider-top-1678283023 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1678283023 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 120px;
}
.red{
  filter: invert(17%) sepia(47%) saturate(6002%) hue-rotate(353deg) brightness(82%) contrast(122%);
}
.custom-shape-divider-bottom-1679569951 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1679569951 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 155px;
}

.custom-shape-divider-bottom-1679569951 .shape-fill {
  fill: #fff;
}

.paginationBtns{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 12px;
}

.paginationBtns a{
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid lightgray;

}

.paginationBtns a:hover {
  color: #fff;
  background-color:  #303030;
}

.paginationActive a{
  background-color: #303030;
  color: #fff;
}

.paginationDisabled a{
  background-color: lightgray;

}

.paginationDisabled a:hover{
  background-color: lightgray;
  color: inherit;
  
}


#loading{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.loader {
  width: 56px;
  height: 56px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 









}